<h2 class="text-center">Danh sách giáo viên tham gia giảng dạy</h2>
<div class="d-flex justify-content-around">
  <table class="table table-bordered w-25">
    <tr>
      <td>Mã Giáo viên</td>
      <td></td>
    </tr>
    <tr>
      <td>Họ và tên</td>
      <td></td>
    </tr>
    <tr>
      <td>Giới tính</td>
      <td></td>
    </tr>
    <tr>
      <td>Số điện thoại</td>
      <td></td>
    </tr>
    <tr>
      <td>Địa chỉ</td>
      <td></td>
    </tr>
  </table>
  <table class="table table-bordered w-25">
    <tr>
      <td>Mã Giáo viên</td>
      <td></td>
    </tr>
    <tr>
      <td>Họ và tên</td>
      <td></td>
    </tr>
    <tr>
      <td>Giới tính</td>
      <td></td>
    </tr>
    <tr>
      <td>Số điện thoại</td>
      <td></td>
    </tr>
    <tr>
      <td>Địa chỉ</td>
      <td></td>
    </tr>
  </table>
  <table class="table table-bordered w-25">
    <tr>
      <td>Mã Giáo viên</td>
      <td></td>
    </tr>
    <tr>
      <td>Họ và tên</td>
      <td></td>
    </tr>
    <tr>
      <td>Giới tính</td>
      <td></td>
    </tr>
    <tr>
      <td>Số điện thoại</td>
      <td></td>
    </tr>
    <tr>
      <td>Địa chỉ</td>
      <td></td>
    </tr>
  </table>

</div>
